/* Cuttlefish Plum color scheme */

body {
	background: #353636 url(images/background.gif);
	color: #0d102f;
}
a {
	color: #ec509b;
}
a:hover {
	color: #ca0839;
	text-decoration: none;
}
a:visited {
	color: #b87695;
}
label {
	color: #0d102f;
}
abbr, acronym {
	cursor: help;
}
abbr {
	border-bottom: 1px dashed #0d102f;
}
acronym {
	border-bottom: 1px dotted #0d102f;
}
address {
	border-left: 2px solid #334626;
}
pre {
	background-color: #fafafa;
	color: #a0488a;
}
.content input[type="reset"],
.content input[type="submit"],
#respond input[type="submit"] {
	background-color: #3a3263;
	border: 1px solid #262045;
}
.content input[type="reset"]:hover,
.content input[type="submit"]:hover,
#respond input[type="submit"]:hover {
	background-color: #e43d83;
	border: 1px solid #80284e;
}
#posts table th {
	background-color: #3a3263;
}
#menu-box .menu {
	background: url(images/menu-middle.png) repeat-y left top;
}
#menu-header {
	background: url(images/menu-header.png) no-repeat left top;
}
#menu-footer {
	background: url(images/menu-footer.png) no-repeat left bottom;
}
#menu-decor {
	background: url(images/menu-decor.png) no-repeat left top;
}
#menu-box .menu a {
	background: #3a3263;
	border: 1px solid #262045;
	color: #fff;
}
#menu-box .menu li:hover > a,
#menu-box .menu ul ul:hover > a {
	background: #e43d83;
	border: 1px solid #80284e;
}
#menu-box .menu ul li.current_page_item > a,
#menu-box .menu ul li.current-menu-ancestor > a,
#menu-box .menu ul li.current-menu-item > a,
#menu-box .menu ul li.current-menu-parent > a {
	background: #e43d83;
	border: 1px solid #80284e;
}
* html #menu-box .menu ul li.current_page_item a,
* html #menu-box .menu ul li.current-menu-ancestor a,
* html #menu-box .menu ul li.current-menu-item a,
* html #menu-box .menu ul li.current-menu-parent a,
* html #menu-box .menu ul li a:hover {
	background: #e43d83;
	border: 1px solid #80284e;
}
#rss {
	background: url(images/rss.png) no-repeat left top;
}
#rss a {
	color: #3a3263;
}
#rss a:hover {
	color: #fff;
}
.page > h2 a,
.post > h2 a {
	color: #0d102f;
}
.sticky {
	background: url(images/sticky.gif) repeat-x left top #f2f2f7;
	border-bottom: 2px #e1e1e6 solid;
}
.sticky .content,
.sticky .postmeta-btm {
	border-top: 1px solid #e1e1e6;
}
.postmeta-top,
.postmeta-btm {
	color: #4c5545;
}
.comment,
.commentlist .children li {
	border: 1px solid #e1e1e6;
}
.pingback p {
	background: url(images/tag.png) no-repeat left 8px;
}
.comment-top {
	background-color: #fafafa;
	border-bottom: 1px solid #e1e1e6;
}
.archive-label {
	background: url(images/archive-label.gif) no-repeat left top;
}
.archive-label span {
	background-color: #79386b;
}
.page-link a:link,
.page-link a:visited {
	background: #3a3263;
	border: 1px solid #262045;
	
}
.page-link a:active,
.page-link a:hover {
	background: #e43d83;
	border: 1px solid #80284e;
}
#wp-calendar td a {
	color: #ec509b !important;
	text-decoration: underline;
}
#wp-calendar th {
	background-color: #dd3e84;
}
#wp-calendar tfoot td {
	background: none;
}
#searchsubmit {
	background-color: #3a3263;
	border: 1px solid #262045;
}
#searchsubmit:hover {
	background-color: #e43d83;
	border: 1px solid #80284e;
}
.cnavigation a,
.pnavigation a {
	color: #a0488a;
}
#sidebar {
	background: url(images/sidebar-top.gif) no-repeat left top #f2f2f7;
}
#sidebar ul ul li {
	border-bottom: solid 1px #cccddd;
}
#sidebar ul li > ul li:hover {
	background-color: #e6e6ef;
}
#sidebar a {
	color: #323873 !important;
}
#sidebar li > h2 {
	background: url(images/sidebar-heading-top.gif) no-repeat left top;
}
#sidebar li > h2 span {
	background: url(images/sidebar-heading-bottom.gif) no-repeat left bottom;
}
#sidebar li.foot {
	background: url(images/sidebar-bottom.gif) no-repeat left bottom;
}
#footer {
	background: url(images/footer.png) repeat-x left top;
}
#footer .footer-bottom {
	background: url(images/footer-bottom.png) no-repeat left bottom;
}