/* Cuttlefish Oil color scheme */

body {
	background: #000 url(images/background.gif);
	color: #26313f;
}
a {
	color: #1255a2;
}
a:hover {
	color: #011c67;
	text-decoration: none;
}
a:visited {
	color: #5988be;
}
label {
	color: #26313f;
}
abbr, acronym {
	cursor: help;
}
abbr {
	border-bottom: 1px dashed #26313f;
}
acronym {
	border-bottom: 1px dotted #26313f;
}
address {
	border-left: 2px solid #1255a2;
}
pre {
	background-color: #f3f3f3;
	color: #333333;
}
.content input[type="reset"],
.content input[type="submit"],
#respond input[type="submit"] {
	background-color: #1255a2;
	border: 1px solid #0e427d;
}
.content input[type="reset"]:hover,
.content input[type="submit"]:hover,
#respond input[type="submit"]:hover {
	background-color: #3071bd;
	border: 1px solid #0e427d;
}
#posts table th {
	background-color: #3071bd;
}
#menu-box .menu {
	background: url(images/menu-middle.png) repeat-y left top;
}
#menu-header {
	background: url(images/menu-header.png) no-repeat left top;
}
#menu-footer {
	background: url(images/menu-footer.png) no-repeat left bottom;
}
#menu-decor {
	background: url(images/menu-decor.png) no-repeat left top;
}
#menu-box .menu a {
	background: #1255a2;
	border: 1px solid #0e427d;
	color: #fff;
}
#menu-box .menu li:hover > a,
#menu-box .menu ul ul:hover > a {
	background: #3071bd;
	border: 1px solid #0e427d;
}
#menu-box .menu ul li.current_page_item > a,
#menu-box .menu ul li.current-menu-ancestor > a,
#menu-box .menu ul li.current-menu-item > a,
#menu-box .menu ul li.current-menu-parent > a {
	background: #3071bd;
	border: 1px solid #0e427d;
}
* html #menu-box .menu ul li.current_page_item a,
* html #menu-box .menu ul li.current-menu-ancestor a,
* html #menu-box .menu ul li.current-menu-item a,
* html #menu-box .menu ul li.current-menu-parent a,
* html #menu-box .menu ul li a:hover {
	background: #3071bd;
	border: 1px solid #0e427d;
}
#rss {
	background: url(images/rss.png) no-repeat left top;
}
#rss a {
	color: #000;
}
#rss a:hover {
	color: #fff;
}
.page > h2 a,
.post > h2 a {
	color: #26313f;
}
.sticky {
	background: url(images/sticky.gif) repeat-x left top #f2f2f2;
	border-bottom: 2px #d1cece solid;
}
.sticky .content,
.sticky .postmeta-btm {
	border-top: 1px solid #d6d3d3;
}
.postmeta-top,
.postmeta-btm {
	color: #112032;
}
.comment,
.commentlist .children li {
	border: 1px solid #d6d3d3;
}
.pingback p {
	background: url(images/tag.png) no-repeat left 8px;
}
.comment-top {
	background-color: #f3f1f1;
	border-bottom: 1px solid #d6d3d3;
}
.archive-label {
	background: url(images/archive-label.gif) no-repeat left top;
}
.archive-label span {
	background-color: #f0be5a;
	color: #000;
}
.page-link a:link,
.page-link a:visited {
	background: #1255a2;
	border: 1px solid #0e427d;
}
.page-link a:active,
.page-link a:hover {
	background: #3071bd;
	border: 1px solid #0e427d;
}
#wp-calendar td a {
	color: #1255a2 !important;
	text-decoration: underline;
}
#wp-calendar th {
	background-color: #1255a2;
}
#wp-calendar tfoot td {
	background: none;
}
#searchsubmit {
	background-color: #1255a2;
	border: 1px solid #0e427d;
}
#searchsubmit:hover {
	background-color: #3071bd;
	border: 1px solid #0e427d;
}
.cnavigation a,
.pnavigation a {
	color: #1456a4;
}
#sidebar {
	background: url(images/sidebar-top.gif) no-repeat left top #f3f1f1;
}
#sidebar ul ul li {
	border-bottom: solid 1px #d1cece;
}
#sidebar ul li > ul li:hover {
	background-color: #ebe8e8;
}
#sidebar a {
	color: #013260 !important;
}
#sidebar li > h2 {
	background: url(images/sidebar-heading-top.gif) no-repeat left top;
	color: #26313f;
}
#sidebar li > h2 span {
	background: url(images/sidebar-heading-bottom.gif) no-repeat left bottom;
}
#sidebar li.foot {
	background: url(images/sidebar-bottom.gif) no-repeat left bottom;
}
#footer {
	background: url(images/footer.png) repeat-x left top;
}
#footer .footer-bottom {
	background: url(images/footer-bottom.png) no-repeat left bottom;
}